@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0D9488;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
} 
/* Asegura que la app use el 100% de altura disponible */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}
